@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cafe24Ohsquare";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Cafe24Ohsquare.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PTBandocheB";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408@1.0/PTBandocheB.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

body > * {
  font-family: "Cafe24Ohsquare";
}

#scroll-container {
  height: 100dvh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.item {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  scroll-snap-align: start;
}
